.gallery {
  margin-bottom: 45px;

  &__text {
    color: $title-color;
    font-family: $font-gotham;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
  }


  &__slide {
   //pointer-events: none;
    
    & a {
      position: relative;
      display: inline-block;
      //z-index: -10;
    }

    & a::before {
      display: inline-block;
      z-index: 100;
      content: '';
      position: absolute;
      top: 0;
      right: -15px;
      bottom: 3px;
      left: 0;
      background-color: $primary-color;
      opacity: 0;
      transition: all 0.7s;
      margin-right: 15px;
      background-image: url('../img/zoom.png');
      background-position: center;
      background-size: auto;
      background-repeat: no-repeat;
      transition: all 0.7s;
      pointer-events: none;
    }

    & a::after {
      opacity: 1;
      content: '';
      position: absolute;
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;
      border: 2px solid #fff; 
      pointer-events: none; 
      transition: all 0.7s;
    }

    &:hover a::before, &:hover a::after  {
      opacity: 0.6;
    } 
  }  
}

@media (max-width: 767px) {
  .gallery {
    &__slide {
      text-align: center;
    }

    &__text {
      text-align: center;
    }
  }
}