.h1 {
  color: $title-color;
  font-family: $font-gotham;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700; 
  margin-top: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .h1 {
    font-size: 22px;
    line-height: 29px;
  }
}